* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html{
    background-color: white;
}

body {
    max-heigh: 100vh;
    width: 70%;
    margin: 50px auto;
    border: 5px double purple;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    background-image: url("istockphoto-943758330-612x612.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

div {
    height: 220px;
    width: 220px;
    margin: 50px;
    /*border: 2px solid red;*/

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 1.6rem;
}

h1{
    width: 100%;
    text-align: center;
    padding: 50px;
    background-color: white;

    font-family: monospace;
    font-size: 2.8rem;
    color: rebeccapurple;
}


#one{
    background-color: red;
}

#two{
    background-color: rgb(255,232,0);
}

#three{
    background-color: rgba(0,255,255,.2);
}

#four{
    background-color: #2BffBE;
}

#five{
    background-color: hsl(300,100%,50%);
}

#six{
    background-color: hsla(150,100%,50%,0.5);
}