div {
    width: 400px;
    height: 500px;
    border: 5px double darkblue;
    background: url("../img/pineapple.svg") center center;
    background-size: cover;
    background-repeat: no-repeat;
}

p {
    padding: 50px 10px;
    font-family: monospace;
    color: #9250f5;
}