* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    width: 1000px;
    margin: 100px auto;
    border: 5px double gray;
    padding: 20px;
    font-size: 1.5rem;
    position: relative;

}

ul {
    list-style: none;
}

nav {
    position: absolute;
    top: 0;
    left: 0;

    padding: 40px 20px 20px 40px;
    width: 200px;
    line-height: 40px;
}

main {
    padding-left: 30px;
    margin-left: 200px;
    border-left: 3px dotted gray;
    text-align: justify;
}